In [103]:
import pandas as pd
import numpy as np
import sqlite3

In [104]:
cosine_sim_df = pd.read_csv('cosine.csv')

In [105]:
cosine_sim_df.head(5)

,bookTitle,To Kill a Mockingbird,Pride and Prejudice,Animal Farm,Gone with the Wind,The Giving Tree,The Da Vinci Code,Memoirs of a Geisha,The Hitchhiker's Guide to the Galaxy,The Perks of Being a Wallflower,...,The Wheel of Fortune,Acts of Faith,Crocodile on the Sandbank,Glory Road,The Counterlife,There Are Doors,Tar Baby,Loser,The Return of the Prodigal Son: A Story of Homecoming,Peter the Great: His Life and World
0,To Kill a Mockingbird,1.000000,0.414406,0.262302,1.000000,0.138966,0.070547,0.638977,0.062951,0.069498,...,0.638977,0.067996,0.643313,0.076467,0.053411,0.076467,0.228855,0.051156,0.0,0.0
1,Pride and Prejudice,0.414406,1.000000,0.283448,0.414406,0.150169,0.076235,0.546468,0.068025,0.075101,...,0.546468,0.555102,0.072825,0.082631,0.057717,0.082631,0.247305,0.055280,0.0,0.0
2,Animal Farm,0.262302,0.283448,1.000000,0.262302,0.095051,0.048254,0.045785,0.327450,0.047536,...,0.045785,0.046508,0.046095,0.397758,0.036532,0.397758,0.156534,0.034990,0.0,0.0
3,Gone with the Wind,1.000000,0.414406,0.262302,1.000000,0.138966,0.070547,0.638977,0.062951,0.069498,...,0.638977,0.067996,0.643313,0.076467,0.053411,0.076467,0.228855,0.051156,0.0,0.0
4,The Giving Tree,0.138966,0.150169,0.095051,0.138966,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.082931,0.000000,0.0,0.0

In [68]:
def db_connection():
    conn = None
    try:
        conn = sqlite3.connect("books.sqlite")
    except sqlite3.error as e:
        print(e)
    return conn

In [143]:
# conn_cosine = db_connection()
# cursor_cosine = conn_cosine.cursor()
# cursor_cosine.execute("SELECT * FROM books")
# book_data_SQL = cursor_cosine.fetchall()
# book_data = pd.DataFrame(book_data_SQL, columns=['bookTitle', 'bookRating', 'ISBN','bookAuthor','yearOfPublication','Publisher','url','bookImage','bookDesc','ratingCount','bookPages','bookGenres','bookGenre1','bookGenre2','bookGenre3'])
# book_data_filtered = book_data[['ISBN', 'bookTitle', 'bookAuthor', 'bookGenre1', 'bookGenre2', 'bookGenre3', 'bookGenres']]
cosine_sim_df = pd.read_csv('cosine.csv')
cosine_sim_df = cosine_sim_df.drop(cosine_sim_df.columns[0], axis=1)

In [144]:
print('Shape:', cosine_sim_df.shape)

Shape: (1536, 1536)

In [145]:
def books_recommendations(bookTitle, similarity_data=cosine_sim_df, k=10):
    # Mengambil data dengan menggunakan argpartition untuk melakukan partisi secara tidak langsung sepanjang sumbu yang diberikan    
    # Dataframe diubah menjadi numpy
    # Range(start, stop, step)
    index = similarity_data.loc[:,bookTitle].to_numpy().argpartition(
        range(-1, -k, -1))
    
    # Mengambil data dengan similarity terbesar dari index yang ada
    closest = similarity_data.columns[index[-1:-(k+2):-1]]
    
    # Drop nama_resto agar nama resto yang dicari tidak muncul dalam daftar rekomendasi
    closest = closest.drop(bookTitle, errors='ignore')
 
    return pd.DataFrame(closest).head(k)

In [146]:

print('Shape:', cosine_sim_df.shape)
cosine_sim_df

Shape: (1536, 1536)

,To Kill a Mockingbird,Pride and Prejudice,Animal Farm,Gone with the Wind,The Giving Tree,The Da Vinci Code,Memoirs of a Geisha,The Hitchhiker's Guide to the Galaxy,The Perks of Being a Wallflower,Ender's Game,...,The Wheel of Fortune,Acts of Faith,Crocodile on the Sandbank,Glory Road,The Counterlife,There Are Doors,Tar Baby,Loser,The Return of the Prodigal Son: A Story of Homecoming,Peter the Great: His Life and World
0,1.000000,0.414406,0.262302,1.000000,0.138966,0.070547,0.638977,0.062951,0.069498,0.073122,...,0.638977,0.067996,0.643313,0.076467,0.053411,0.076467,0.228855,0.051156,0.0,0.0
1,0.414406,1.000000,0.283448,0.414406,0.150169,0.076235,0.546468,0.068025,0.075101,0.079017,...,0.546468,0.555102,0.072825,0.082631,0.057717,0.082631,0.247305,0.055280,0.0,0.0
2,0.262302,0.283448,1.000000,0.262302,0.095051,0.048254,0.045785,0.327450,0.047536,0.380360,...,0.045785,0.046508,0.046095,0.397758,0.036532,0.397758,0.156534,0.034990,0.0,0.0
3,1.000000,0.414406,0.262302,1.000000,0.138966,0.070547,0.638977,0.062951,0.069498,0.073122,...,0.638977,0.067996,0.643313,0.076467,0.053411,0.076467,0.228855,0.051156,0.0,0.0
4,0.138966,0.150169,0.095051,0.138966,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.082931,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1531,0.076467,0.082631,0.397758,0.076467,0.000000,0.074777,0.070951,0.507439,0.073665,0.589433,...,0.070951,0.072072,0.071433,1.000000,0.056613,1.000000,0.045633,0.054223,0.0,0.0
1532,0.228855,0.247305,0.156534,0.228855,0.082931,0.042101,0.039947,0.037567,0.041474,0.043637,...,0.039947,0.040578,0.040218,0.045633,0.031874,0.045633,1.000000,0.030529,0.0,0.0
1533,0.051156,0.055280,0.034990,0.051156,0.000000,0.050026,0.047466,0.044639,0.339421,0.357121,...,0.047466,0.048216,0.047788,0.054223,0.037874,0.054223,0.030529,1.000000,0.0,0.0
1534,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.0
1535,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,1.0

In [147]:
book_data_filtered[book_data_filtered.bookTitle.eq('The Sigh')]

Empty DataFrame
Columns: [ISBN, bookTitle, bookAuthor, bookGenre1, bookGenre2, bookGenre3, bookGenres]
Index: []

In [150]:
books_recommendations('The Sight')

                                                   0
0                                       Fire Bringer
1                                  Tailchaser's Song
2                                The Horse Whisperer
3                                           The Loop
4                                          War Horse
5  Modoc: The True Story of the Greatest Elephant...
6                         The Lord God Made Them All
7                                  Animal Liberation
8                                        Many Waters
9                                           Abhorsen

In [160]:
def getOneBook(title):
    conn = db_connection()
    cursor = conn.cursor()
    book = None
    cursor.execute("SELECT * FROM books WHERE bookTitle=?", (title,))
    rows = cursor.fetchall()
    for r in rows:
        book = r
    if book is not None:
        dictBook = {
            "bookTitle" : book[0],
            "bookRating" : book[1],
            "ISBN" : book[2],
            "bookAuthor" : book[3],
            "yearOfPublication" : book[4],
            "Publisher" : book[5],
            "url" : book[6],
            "bookImage" : book[7],
            "bookDesc" : book[8],
            "ratingCount" : book[9],
            "bookPages" : book[10],
            "bookGenres" : book[11],
            "bookGenre1" : book[12],
            "bookGenre2" : book[13],
            "bookGenre3" : book[14]
        }
    return dictBook

In [163]:
result = books_recommendations('The Sight')
sim=[]
book = None     
result = result.reset_index()  # make sure indexes pair with number of rows
for index, row in result.iterrows():
    book =  getOneBook(row[0])
    sim.append(book)
sim

[{'bookTitle': 'Fire Bringer',
  'bookRating': 4.19,
  'ISBN': '142300608',
  'bookAuthor': 'David Clement-Davies',
  'yearOfPublication': '2002',
  'Publisher': 'Puffin Books',
  'url': 'https://www.goodreads.com/book/show/58087.Fire_Bringer',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1309213343l/58087.jpg',
  'bookDesc': "Young buck Rannoch was born on the night his father was murdered and into a herd of deer where hunger for power has gradually whittled away at all that is true and good. He knows he must escape to survive. Chased by stags, with their fearsome antlers sharpened for the kill, he begins a treacherous journey into the unknown, and ahead of him lies a shocking and formidable search for truth and goodwill in the shadow of the Great Mountain. One day he will have to return to his home and face his destiny among the deer to fulfill the prophecy that has persistently given them hope: that one day a fawn will be born with the mark of an oak leaf on his forehead and that fawn's courage will lead all the deer to freedom. Filled with passion and a darkness that gradually, through Rannoch's courage in the face of adversity, lifts to reveal an overwhelming feeling of light, Fire Bringer is a tremendous, spirited story that takes the reader deep into the hearts and minds of its characters as they fight for their right to live in peace.",
  'ratingCount': 12855,
  'bookPages': '498 pages',
  'bookGenres': "['Fantasy', 'YoungAdult', 'Animals', 'Fiction', 'Childrens', 'Adventure', 'Animals-AnimalFiction', 'Animals-Anthropomorphic', 'YoungAdult-YoungAdultFantasy', 'ScienceFictionFantasy']",
  'bookGenre1': 'Fantasy',
  'bookGenre2': 'YoungAdult',
  'bookGenre3': 'Animals'},
 {'bookTitle': "Tailchaser's Song",
  'bookRating': 3.97,
  'ISBN': '886773741',
  'bookAuthor': 'Tad Williams',
  'yearOfPublication': '1994',
  'Publisher': 'Daw Books',
  'url': 'https://www.goodreads.com/book/show/23340.Tailchaser_s_Song',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328382008l/23340.jpg',
  'bookDesc': 'Meet Fritti Tailchaser, a ginger tom cat of rare courage and curiosity, a born survivor in a world of heroes and villains, of powerful feline gods and whiskery legends about those strange furless, erect creatures called Mâ€™an.â€œThe hour of Unfolding Dark had begun, and the rooftop where Tailchaser lay was smothered in shadow. He was deep in a dream of leaping and flying when he felt an unusual tingling in his whiskers. Fritti Tailchaser, hunterchild of the Folk, came suddenly awake and sniffed the air. Ears pricked and whiskers flared straight, he sifted the evening breeze. Nothing unusual. Then what had awakened him? Pondering, he splayed his claws and began a spine-limbering stretch that finally ended at the tip of his reddish tail.â€�Join Tailchaser on his magical quest to rescue his catfriend Hushpad on a quest that will take him all the way to cat hell and beyond.',
  'ratingCount': 11454,
  'bookPages': '364 pages',
  'bookGenres': "['Fantasy', 'Fiction', 'Animals', 'Animals-Cats', 'YoungAdult', 'ScienceFictionFantasy', 'Animals-AnimalFiction', 'Adventure', 'Novels', 'Adult']",
  'bookGenre1': 'Fantasy',
  'bookGenre2': 'Fiction',
  'bookGenre3': 'Animals'},
 {'bookTitle': 'The Horse Whisperer',
  'bookRating': 3.82,
  'ISBN': '440222656',
  'bookAuthor': 'Nicholas Evans',
  'yearOfPublication': '1996',
  'Publisher': 'Dell',
  'url': 'https://www.goodreads.com/book/show/479415.The_Horse_Whisperer',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320410310l/479415.jpg',
  'bookDesc': "A forty-ton truck hurtles out of control on a snowy country road, a teenage girl on horseback in its path. In a few terrible seconds the life of a family is shattered. And a mother's quest beings - to save her maimed daughter and a horse driven mad by pain. It is an odyssey that will bring her to...THE HORSE WHISPERERHe is the stuff of legend. His voice can calm wild horses and his touch heal broken spirits. For secrets uttered softly into pricked and troubled ears, such men were once called Whisperers. Now Tom Booker, the inheritor of this ancient gift, is to meet his greatest challenge.Annie Graves has traveled across a continent with her daughter, Grace, and their wounded horse, Pilgrim, to the Booker ranch in Montana. Annie has risked everything - her career, her marriage, her comfortable life - in her desperate belief that the Whisperer can help them. The accident has turned Pilgrim savage. He is now so demented and dangerous that everyone says he should be destroyed. But Annie won't give up on him. For she feels his fate is inextricably entwined with that of he daughter, who has retreated into a heartrending, hostile silence. Annie knows that if the horse dies, something in Grace will die too.In the weeks to come, under the massive sky of the Rocky Mountain Front, all their lives - including Tom Booker's - will be transformed forever in a way none could have foretold. At once an epic love story and a gripping adventure, The Horse Whisperer weaves an extraordinary tale of healing and redemption - a magnificent emotional journey that explores our ancient bonds with earth and sky and hearts untamed. It is a stirring elegy to the power of belief and self-discovery, to hopes lost and found again.",
  'ratingCount': 52559,
  'bookPages': '451 pages',
  'bookGenres': "['Fiction', 'Romance', 'Animals', 'Animals-Horses', 'Contemporary', 'Drama', 'Adult', 'AdultFiction', 'WomensFiction-ChickLit', 'Classics']",
  'bookGenre1': 'Fiction',
  'bookGenre2': 'Romance',
  'bookGenre3': 'Animals'},
 {'bookTitle': 'The Loop',
  'bookRating': 3.92,
  'ISBN': '440224624',
  'bookAuthor': 'Nicholas Evans',
  'yearOfPublication': '1999',
  'Publisher': 'Dell Publishing Company',
  'url': 'https://www.goodreads.com/book/show/25422.The_Loop',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1488054496l/25422._SX318_.jpg',
  'bookDesc': 'Helen Ross is a 29-year-old biologist, sent into a hostile place to protect the wolves from those who seek to destroy them. She struggles for survival and for self-esteem, embarking on a love affair with the 18-year-old son of her most powerful opponent, brutal and charismatic rancher, Buck Calder.',
  'ratingCount': 11333,
  'bookPages': '511 pages',
  'bookGenres': "['Fiction', 'Romance', 'Animals', 'Drama', 'Contemporary', 'Environment-Nature', 'Animals-Wolves', 'Roman', 'AdultFiction', 'Adult']",
  'bookGenre1': 'Fiction',
  'bookGenre2': 'Romance',
  'bookGenre3': 'Animals'},
 {'bookTitle': 'War Horse',
  'bookRating': 4.14,
  'ISBN': '749704454',
  'bookAuthor': 'Michael Morpurgo',
  'yearOfPublication': '1990',
  'Publisher': 'Egmont Childrens Books',
  'url': 'https://www.goodreads.com/book/show/792161.War_Horse',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1360677423l/792161.jpg',
  'bookDesc': "A powerful tale of war, redemption and a hero's journey.In 1914, Joey, a beautiful bay-red foal with a distinctive cross on his nose, is sold to the army and thrust into the midst of the war on the Western Front. With his officer, he charges toward the enemy, witnessing the horror of the battles in France. But even in the desolation of the trenches, Joey's courage touches the soldiers around him and he is able to find warmth and hope. But his heart aches for Albert, the farmer's son he left behind. Will he ever see his true master again?",
  'ratingCount': 44537,
  'bookPages': '165 pages',
  'bookGenres': "['Historical-HistoricalFiction', 'Fiction', 'Animals', 'YoungAdult', 'War', 'Historical', 'Childrens', 'Animals-Horses', 'Adventure', 'Classics']",
  'bookGenre1': 'Historical-HistoricalFiction',
  'bookGenre2': 'Fiction',
  'bookGenre3': 'Animals'},
 {'bookTitle': 'Modoc: The True Story of the Greatest Elephant That Ever Lived',
  'bookRating': 4.2,
  'ISBN': '60182571',
  'bookAuthor': 'Ralph Helfer',
  'yearOfPublication': '1997',
  'Publisher': "HarperCollins Children's Books",
  'url': 'https://www.goodreads.com/book/show/23982.Modoc',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1422415870l/23982.jpg',
  'bookDesc': 'A captivating true story of loyalty, friendship, and high adventure that spans several decades and three continents,Â\xa0ModocÂ\xa0is one of the most remarkableÂ\xa0true stories ever told, perfect for fans of The Zookeeper\'s Wife or Water for Elephants.Raised together in a small German circus town, a boy and an elephant formed a bond that would last their entire lives, and would be tested time and again: through a near-fatal shipwreck in the Indian Ocean, an apprenticeship with the legendary Mahout elephant trainers in the Indian teak forests, and their eventual rise to circus stardom in 1940s New York City.Â\xa0 As the African Sun-Times put it, Modoc is "heartwarming...probably the greatest love story ever told.""Once I started this incomparable story, I couldn\'t put it down, and I cannot get it out of my mind--nor will I ever. The message of what can be accomplished by training through affection and joy will thrill all animal lovers." -- Betty White',
  'ratingCount': 10067,
  'bookPages': '352 pages',
  'bookGenres': "['Nonfiction', 'Animals', 'Biography', 'Autobiography-Memoir', 'History', 'Adventure', 'Environment-Nature', 'BookClub', 'Adult', 'Childrens-PictureBooks']",
  'bookGenre1': 'Nonfiction',
  'bookGenre2': 'Animals',
  'bookGenre3': 'Biography'},
 {'bookTitle': 'The Lord God Made Them All',
  'bookRating': 4.4,
  'ISBN': '312498349',
  'bookAuthor': 'James Herriot',
  'yearOfPublication': '1981',
  'Publisher': "St. Martin's Press",
  'url': 'https://www.goodreads.com/book/show/38739.The_Lord_God_Made_Them_All',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388210936l/38739.jpg',
  'bookDesc': 'With each book more embraceable than the last, James Herriot once again brings us the magical beauty of Yorkshire through his heartwarming experiences as a country veterinarian. These new stories provide a grand finale to the wonderful books that began with all Creatures Great and Small.It is just after World War II, and James has returned from the R.A.F. to do battle with the diseases and injuries that befall the farm animals and pets of Skeldale and the surrounding moors. Four-year-old Jimmy Herriot, Humphrey Cobb and his little beagle Myrtle, Norman the book-loving veterinary assistant, and many more new faces join old favorites among the green hills of Yorkshire, as James takes an unforgettable voyage to Russia on a freighter with 383 pedigreed sheep. Touching our hearts with laughter and wisdom, lifting our spirits with compassion and goodness, James Herriot never fails to delight.',
  'ratingCount': 22590,
  'bookPages': '373 pages',
  'bookGenres': "['Nonfiction', 'Animals', 'Biography', 'Autobiography-Memoir', 'Classics', 'Humor', 'Biography-Autobiography', 'BiographyMemoir', 'EuropeanLiterature-BritishLiterature', 'ShortStories']",
  'bookGenre1': 'Nonfiction',
  'bookGenre2': 'Animals',
  'bookGenre3': 'Biography'},
 {'bookTitle': 'Animal Liberation',
  'bookRating': 4.28,
  'ISBN': '380713330',
  'bookAuthor': 'Peter Singer',
  'yearOfPublication': '1991',
  'Publisher': 'Avon',
  'url': 'https://www.goodreads.com/book/show/29380.Animal_Liberation',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386924543l/29380.jpg',
  'bookDesc': '\nThe Book That Started A Revolution\nSince its original publication in 1975, this groundbreaking work has awakened millions of concerned men and women to the shocking abuse of animals everywhere -- inspiring a worldwide movement to eliminate much of the cruel and unnecessary laboratory animal experimentation of years past. In this newly revised and expanded edition, author Peter Singer exposes the chilling realities of today\'s "factory forms" and product-testing procedures -- offering sound, humane solutions to what has become a profound environmental and social as well as moral issue. An important and persuasive appeal to conscience, fairness, decency and justice, Animal Liberation is essential reading for the supporter and the skeptic alike.',
  'ratingCount': 8077,
  'bookPages': '352 pages',
  'bookGenres': "['Philosophy', 'Nonfiction', 'Animals', 'FoodandDrink-Vegan', 'Politics', 'FoodandDrink-Food', 'Science', 'Environment', 'SocialIssues-Activism', 'Classics']",
  'bookGenre1': 'Philosophy',
  'bookGenre2': 'Nonfiction',
  'bookGenre3': 'Animals'},
 {'bookTitle': 'Many Waters',
  'bookRating': 3.96,
  'ISBN': '440405483',
  'bookAuthor': "Madeleine L'Engle",
  'yearOfPublication': '1987',
  'Publisher': 'Yearling Books',
  'url': 'https://www.goodreads.com/book/show/151370.Many_Waters',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1593228727l/151370.jpg',
  'bookDesc': "Some things have to be believed to be seen.Sandy and Dennys have always been the normal, run-of-the-mill ones in the extraodinary Murry family. They garden, make an occasional A in school, and play baseball. Nothing especially interesting has happened to the twins until they accidentally interrupt their father's experiment.Then the two boys are thrown across time and space. They find themselves alone in the desert, where, if they believe in unicorns, they can find unicorns, and whether they believe or not, mammoths and manticores will find them.The twins are rescued by Japheth, a man from the nearby oasis, but before he can bring them to safety, Dennys gets lost. Each boy is quickly embroiled in the conflicts of this time and place, whose populations includes winged seraphim, a few stray mythic beasts, perilous and beautiful nephilim, and small, long lived humans who consider Sandy and Dennys giants. The boys find they have more to do in the oasis than simply getting themselves home--they have to reunite an estranged father and son, but it won't be easy, especially when the son is named Noah and he's about to start building a boat in the desert.",
  'ratingCount': 44523,
  'bookPages': '359 pages',
  'bookGenres': "['Fantasy', 'YoungAdult', 'Fiction', 'ScienceFiction', 'Childrens', 'Classics', 'ScienceFiction-TimeTravel', 'ScienceFictionFantasy', 'Childrens-MiddleGrade', 'Adventure']",
  'bookGenre1': 'Fantasy',
  'bookGenre2': 'YoungAdult',
  'bookGenre3': 'Fiction'},
 {'bookTitle': 'Abhorsen',
  'bookRating': 4.2,
  'ISBN': '60278269',
  'bookAuthor': 'Garth Nix',
  'yearOfPublication': '2003',
  'Publisher': 'Eos',
  'url': 'https://www.goodreads.com/book/show/334643.Abhorsen',
  'bookImage': 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1401683669l/334643.jpg',
  'bookDesc': "The Ninth was strong and fought with might But lone Orannis was put out of the light Broken in two and buried under hillForever to lie there, wishing us ill.So says the song. But Orannis, the Destroyer, is no longer buried under hill. It has been freed from its subterranean prison and now seeks to escape the silver hemispheres, the final barrier to the unleashing of its terrible powers.Only Lirael, newly come into her inheritance as the Abhorsen-in-Waiting, has any chance of stopping the Destroyer. She and her companions -- Sam, the Disreputable Dog, and Mogget -- have to take that chance. For the Destroyer is the enemy of all Life, and it must be stopped, though Lirael does not know how.To make matters worse, Sam's best friend, Nick, is helping the Destroyer, as are the necromancer Hedge and the Greater Dead Chlorr, and there has been no word from the Abhorsen Sabriel or King Touchstone.Everything depends upon Lirael. A heavy, perhaps even impossible burden for a young woman who just days ago was merely a Second Assistant Librarian. With only a vision from the Clayr to guide her, and the rather mixed help of her companions, Lirael must search in both Life and Death for some means to defeat the Destroyer.Before it is too late. . . .",
  'ratingCount': 120805,
  'bookPages': '358 pages',
  'bookGenres': "['Fantasy', 'YoungAdult', 'Fiction', 'Fantasy-Magic', 'Adventure', 'YoungAdult-YoungAdultFantasy', 'Fantasy-HighFantasy', 'ScienceFictionFantasy', 'Childrens', 'YoungAdult-Teen']",
  'bookGenre1': 'Fantasy',
  'bookGenre2': 'YoungAdult',
  'bookGenre3': 'Fiction'}]

In [159]:
result = books_recommendations('The Sight')
# result = result.values.tolist()
sim=[]
result = result.reset_index()  # make sure indexes pair with number of rows
for index, row in result.iterrows():
    print(row[0])
    sim.append(row[0])
sim
# for res in result:
#         # print(res)
#         sim.append(res)
# sim
# # result

Fire Bringer
Tailchaser's Song
The Horse Whisperer
The Loop
War Horse
Modoc: The True Story of the Greatest Elephant That Ever Lived
The Lord God Made Them All
Animal Liberation
Many Waters
Abhorsen

['Fire Bringer',
 "Tailchaser's Song",
 'The Horse Whisperer',
 'The Loop',
 'War Horse',
 'Modoc: The True Story of the Greatest Elephant That Ever Lived',
 'The Lord God Made Them All',
 'Animal Liberation',
 'Many Waters',
 'Abhorsen']